* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, lightyellow, lightblue);
}
.parent {
  background-color: rgb(255, 226, 226);
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 1rem;
}
main {
  padding: 4rem;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid lightgrey;
}
h2 {
  font-size: 3rem;
}
input {
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid grey;
}

p {
  font-size: 1.5rem;
  padding-right: 1rem;
}
button {
  background-color: lightyellow;
  padding: 0.4rem;
  cursor: pointer;
  border: 1px solid lightgray;
  border-radius: 0.4rem;
}
